/*a#ctl00_ctl67_ShellNewsfeed.ms-core-suiteLink-a,
a#ctl00_ctl67_ShellDocuments.ms-core-suiteLink-a,
a#ctl00_ctl67_ShellSites.ms-core-suiteLink-a {
    display: none;
}*/

/*#suiteBarLeft,
#suiteBarRight,
#suiteBar {
    display: none !important;
}

#s4-ribbonrow {
    display: none !important;
}*/

