<!-- slider start here -->
<div><h3>Carousel Placeholder</h3></div>
<div class="slideshow owl-carousel">
    <div class="item">
        <img ng-src="" alt="slider" title="slider" class="img-responsive" />
        <div class="slide-detail">
            <div class="container">
                <div class="slider-caption">
                    <div class="off"></div>
                    <h1>Find Your Job</h1>
                    <div class="col-md-4 col-sm-4 col-xs-12 paddleft">
                        <select class="selectpicker999 form-control" name="jpDepartment" >
                            <option value="Select Department">Select Department</option>
                            <option value="" </option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <select class="selectpicker999 form-control" name="jpLocation">
                            <option value="Select Location">Select Location</option>
                            <option value="" </option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 paddright">
                        <div class="input-group">
                            <input name="jpSearch" class="form-control"  placeholder="Search" type="text">
                            <span>
                                <button type="button" class="btnsrch"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="center">
                        <button class="btn-default">
                            ADVANCE JOB SEARCH <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider end here -->